@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 영어일 때는 Montserrat, 한글일 때는 Pretendard 사용 */
:lang(ko) {
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}
:lang(en) {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* 기본 500, 400~600도 있는 것으로 보임 */
    font-style: normal;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #054afc;
    border-radius: 6px;
}

/* 문서 가로 너비 기본 1920 */
html {
}

body {
    position: relative;
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
    z-index: 0;
}
#fixedContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: inherit;
    z-index: 100;
}
.blank-space.space1 {
    /* height: 3000px; */
    height: 0px;
}
.blank-space.space2 {
    height: 4000px;
}
.blank-space.space3 {
    height: 5500px;
}
.blank-space.space4,
.blank-space.space5,
.blank-space.space6 {
    height: 5000px;
}
.blank-space.space7 {
    height: 900px;
}
.blank-space.space8 {
    height: 4250px;
}
.blank-space.space9 {
    height: 400px;
}
.blank-space.space10 {
    height: 1800px;
}
.blank-space.space11 {
    height: 0px;
}
.blank-space.space12 {
    height: 2000px;
}
.blank-space.space13 {
    height: 1000px;
}
.blank-space.space14 {
    height: 800px;
}
.blank-space.space15 {
    height: 1000px;
}
.blank-space.space16 {
    height: 1000px;
}
.blank-space.space17 {
    height: 1000px;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

#blocker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: inherit;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
    pointer-events: auto;
}

#logoContainer {
    width: 320px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 330px;
    left: 500px;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition:
        left 0s ease-out,
        top 0s ease;
    border-radius: 80px;
}
#logoContainer canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 80px;
}

#pdContainer {
    position: relative;
}
#pdContainer .gradient {
    width: 1920px;
    height: 795px;
    position: absolute;
    transform: translateY(-50%);
    top: 82%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(5, 74, 252, 0.9),
        rgba(41, 114, 255, 0.7),
        rgba(0, 0, 0, 0)
    );
}
#pdContainer .textLogo {
    position: absolute;
    transform: translateX(-50%);
    left: 25%;
    top: 40px;
}
.main-title {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 15%;
    text-align: center;
}
.main-title h1 {
    font-size: 268.475px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main-title .subtitle {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-top: -30px;
}
.main-contents {
    width: max-content;
    transform: translateY(-50%);
    position: absolute;
    right: 19%;
    top: 68%;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-contents-desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-contents-button-box {
    margin-top: 76px;
}
.main-contents-button-box button {
    width: 181px;
    height: 54px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
#toMainPJ {
    background-color: #8dbfff;
    color: #000000;
}
#toYoutube {
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    margin-left: 5px;
}

#youtubeContainer {
    width: 1920px;
    height: 975px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    opacity: 0;
}
#youtubeContainer > div > div > div {
    transform: translateX(0);
}

#lfwContainer {
    width: 100%;
    max-width: inherit;
    height: 975px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -9;
    opacity: 0;
}

.swiper {
    width: 100%;
    height: 80%;
    position: relative;
    border-top: 0.8px solid #ffffff;
    border-bottom: 0.8px solid #ffffff;
}

.swiper-wrapper {
    position: relative;
    transition-timing-function: linear;
    column-gap: 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.swiper-slide img {
    margin: 0 30px;
}

#cardSlide3d {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cardSlide3d canvas {
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    position: relative;
    width: 3000px;
    height: 3000px;
}
#logoMoveSection2 {
    position: absolute;
    top: 5%;
}
#logoMoveSection3 {
    position: absolute;
    top: 30%;
}
#logoMoveSection4 {
    position: relative;
    width: 100%;
    max-width: inherit;
    height: 1281px;
    transition: top 0s ease;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}
#logoMoveSection4 .gradient {
    position: absolute;
    width: 100%;
    max-width: inherit;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 200px,
            rgba(0, 0, 0, 0) 400px,
            rgba(0, 0, 0, 0) 800px,
            rgba(0, 0, 0, 1) 1000px
        ),
        url('img/squintingNightCity.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}
#logoMoveSection4 img {
    position: absolute;
}
#pjCardDrawingPaper {
    width: 330px;
    height: 393px;
    padding: 30px;
    font-style: normal;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 16.559px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6.209717750549316px);
    text-align: center;
    color: #fff;
    z-index: -100;
    position: absolute;
    opacity: 0;
}
#pjCardDrawingPaper .card-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}
#pjCardDrawingPaper .card-image {
    margin-top: 12px;
}
#pjCardDrawingPaper .card-desc {
    margin-top: 12px;
    min-height: 85px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}
#pjCardDrawingPaper .card-desc2 {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
}
#pjCardDrawingPaperBig {
    width: 1000px;
    height: 600px;
    z-index: -100;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    opacity: 0;
}
#pjCardDrawingPaperBig img {
    width: 100%;
    max-width: inherit;
    background: rgba(255, 255, 255, 0);
    object-fit: contain;
}

#linesFatWireframe {
    width: 100%;
    max-width: inherit;
    height: 975px;
}

#AIChemist-swiper {
    height: max-content;
    margin-bottom: 368px;
}
#AIChemist-swiper .swiper-slide {
    width: 392px;
    height: 449px;
}
#AIChemist-swiper .swiper-slide .grid {
    justify-content: center;
}

#priceContainer {
    width: 100%;
    max-width: inherit;
    height: 1282px;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 50px,
            rgba(0, 0, 0, 0) 200px,
            rgba(0, 0, 0, 0) 1000px,
            rgba(0, 0, 0, 1) 1282px
        ),
        url('img/backgroundCode.png');
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 396px;
}

#pwContainer {
    width: 100%;
    max-width: inherit;
    height: 1048px;
    margin-bottom: 502px;
    position: relative;
}
#pwContainer .gradient {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 800px,
        rgba(0, 0, 0, 1) 990px
    );
    position: absolute;
    width: 100%;
    max-width: inherit;
    height: 100%;
}

.title.wave.part-b {
    color: #000000;
}

.price-box {
    margin-top: 100px;
    gap: 20px;
    height: 518px;
}
.price-box h2 {
    letter-spacing: -1px;
}
.price-box ul li {
    margin-top: 0;
}
.price-box .font-bold {
    font-weight: 700;
}
.price-box button {
    text-align: left;
    color: #999;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 15px */
    padding-left: 12px;
}
.price-box .price-card {
    padding: 28px;
    fill: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.price-card .price-card-contents-top {
    min-height: 168px;
}

.gradient-blue-to-white {
    background: linear-gradient(256deg, #fff 45.97%, #8dbfff 96.13%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-blue-to-white span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
}

.about-aichemist {
    display: flex;
    margin-left: 131px;
    margin-bottom: 389px;
}
.about-aichemist .line-n-aichemist {
    display: flex;
    justify-content: end;
}
.about-aichemist .line-n-aichemist .line {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 40px 20px;
}
.about-aichemist hr {
    width: 126px;
    border: 0;
    height: 2px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(141, 191, 255, 0.93) 100%
    );
    margin: 0;
}

.team-n-mail-n-footer {
    height: 2584px;
    background: linear-gradient(
        180deg,
        rgba(5, 74, 252, 0) 0%,
        rgba(5, 74, 252, 0.9) 40%,
        #2972ff 74.5%,
        #91b7ff 93%,
        #fff 100%
    );
    color: #000;
}

.imagine-really {
    margin-left: 119px;
    height: 340px;
}
.imagine-sub-n-mail-send {
    display: flex;
    justify-content: space-between;
    margin: 66px 119px 518px;
}

.imagine-sub-n-mail-send input,
.imagine-sub-n-mail-send textarea {
    width: 500px;
    height: 52px;
    padding: 16px;
    background-color: transparent;
}
.imagine-sub-n-mail-send input:focus,
.imagine-sub-n-mail-send textarea:focus {
}
.imagine-sub-n-mail-send button {
    width: 92px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.mail-send {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.mail-send hr {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

footer {
    margin: 0 48px;
}
